# typical python gitignore
.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/.cookiecutter.json
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
/.ruff_cache/
/.pytest_cache/

# dbt target folder
/target/

# dbt venvs
/.venv*

# env files
.env
