name: Tests

on:
  workflow_dispatch:
  push:

jobs:
  tests:
    name: ${{ matrix.python }} / ${{ matrix.os }} / dbt v${{ matrix.dbt }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { python: "3.12", os: "ubuntu-latest", dbt: "1.8" }
          - { python: "3.11", os: "ubuntu-latest", dbt: "1.8" }
          - { python: "3.10", os: "ubuntu-latest", dbt: "1.8" }

    env:
      FORCE_COLOR: "1"
      PRE_COMMIT_COLOR: "always"

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.2.2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.7.17"
          python-version: ${{ matrix.python }}

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: |
          uv run --directory tests/sqlfluff_templater/fixtures/dbt/dbt_project dbt deps
          uv run --directory tests/sqlfluff_templater/fixtures/dbt/dbt_project2 dbt deps
          uv run pytest
